{% extends "base_generic.html" %}

{% block content %}

<style>
h1, h2 {text-align: center;}
p {text-align: center;}
li {text-align: center;}
</style>
 <!--- <h1 style="font-size:60px;">¡Buen Provecho!</h1> --->
<div class="text-center">
 <img class="img-fluid" src="/media/images/BuenLogo.jpg" alt="Logo here"> 
</div>

<h2>Featured Recipe: <a class="nav-link" href="recipe/macncheese">Mac & Cheese</a></h2>
  <p><strong>Author:</strong> acorey </p>
  <p> 

  
<div class="text-center">
 <img class="img-fluid" src="/media/images/macncheese2.jpg" alt="Picture of food here"> 
</div>

  </p>
  <p><strong>Summary:</strong> Perfect cheat day meal, ready within 15 minutes</p>

{% endblock %}